<% include ./partials/header %>

<h1>This is the catalogue</h1>

<% cheeses.forEach((cheese) => { %>
<div>
  <h4>
    <%= cheese.name %>
  </h4>
  <div>
    <img src="<%= cheese.image %>" alt="swiss" />
  </div>
</div>
<% }); %> <% include ./partials/footer %>
