<% include ./partials/header %>

<h1>This is the catalogue</h1>

<div class="container">
  <div class="row">
    <% cheeses.forEach((cheese) => { %>
    <div class="col-md-6 col-sm-12">
      <div class="cheese-container">
        <img class="cheese-image" src="<%= cheese.image %>" alt="<%= cheese.name %>" />
      </div>
      <h4>
        <%= cheese.name %>
      </h4>
      <button type="button" class="btn btn-primary">
        <a style="color: white;" href="/show">Learn More</a>
      </button>
      <button type="button" class="btn btn-success">
        <a style="color: white;" href="/show">Add to Cart</a>
      </button>
    </div>
    <% }); %>
  </div>
</div>
<% include ./partials/footer %>