<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="center">
      <h2>Add a Cheese</h2>
      <form action="/catalogue" method="POST">
        <div class="form-group">
          <label for="cheese">Cheese</label>
          <input type="text" name="name" class="form-control" id="cheese" aria-describedby="emailHelp"
            placeholder="Cheese Name" />
        </div>
        <div class="form-group">
          <label for="image">ImageURL</label>
          <input name="image" type="text" class="form-control" id="image" placeholder="ImageURL" />
        </div>
        <button type="submit" value="Login" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<% include ./partials/footer %>